.count {
    margin: 12px 0;
    color: var(--text-color-secondary);
}

@media (min-width: 720px) {
    .input_container {
        display: flex;
        justify-content: space-between;
    }

    .count {
        flex: 1;
    }

    .input {
        flex: 2;
    }
}