.overview_panel > img {
    width: 100%;
    border-radius: 12px;
}

.overview_panel {
    padding: 25px 30px;
    border-radius: 12px;    
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-light);
}

.overview_name {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin: 20px 0 15px 0;
    color: var(--text-color);
}

.overview_region {
    text-align: center;
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0 0 50px 0;
}

.overview_numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
}

.overview_numbers p {
    margin: 0;
}

.overview_numbers > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 12px;
}

.overview_value {
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color);
}

.overview_label {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--text-color-secondary)
}

.details_panel {
    border-radius: 12px;    
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-light);
    padding-top: 30px;
}

.details_panel_heading {
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--text-color);
    margin: 0;
}

.details_panel_row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #E0E0E0;
}

.details_panel_label {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--text-color-secondary);
}

.details_panel_value {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--text-color);
}

.details_panel_borders {
    padding: 30px;
}

.details_panel_borders_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 28px;
}

.details_panel_borders_country {
    text-align: center;
}

.details_panel_borders_country_image {
    width: 80px;
    height: 60px;
    border-radius: 8px;
}

.details_panel_borders_label {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--text-color-secondary);
    margin-bottom: 24px;
}

.details_panel_borders_country_name {
    font-size: 0.75rem;
    color: var(--text-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

@media (min-width: 720px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
    }

    .container_left {
        grid-column: 1 / span 4;
    }

    .container_right {
        grid-column: 5 / span 8;
    }
}